* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  background-color: rgb(53, 50, 50);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root,
app-chess-board {
  width: 100%;
  height: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1917;
}

::-webkit-scrollbar-thumb {
  background: #3d3b38;
  border: 1px solid #000;
}
